body {
    max-width: 80%;
    margin: 0 auto;
}
h1 {
    font-size: 32px;
    font-weight: 700;
    margin: 48px 0 32px;
}

h2 {
    margin: 132px 0 32px;
    font-size: 32px;
    font-weight: 700;
}

h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 34px;
    max-width: 240px;
}

p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    color: #858585;
}

button {
    cursor: pointer;
}

.tourist-form {
    display: grid;
    grid-template-areas: 
    'img title'
    'description';
}


img {
    display: block;
}


.btn {
    border: none;
    background-color: transparent;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #858585;
    position: absolute;
    
}

.image-button input[type=file] {
    font-size: 210px;
    position: absolute;
    left: -114px;
    top: -126px;
    max-width: 284px;
    max-height: 242px;
    opacity: 0;
}

.image-button {
    position: relative;
    top: 94px;
    left: 114px;
}

.upload-img {
    width: 288px;
    height: 212px;
    border: 2px solid #E5E5E5;
    border-radius: 8px;
    grid-area: img;
    
}

.input-title {
    width: 328px;
    height: 56px;
    width: 288px;
    border: 2px solid #E5E5E5;
    border-radius: 8px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    padding: 16px;
    grid-area: title;
}

.input-description {
    width: 417px;
    height: 136px;
    border: 2px solid #E5E5E5;
    border-radius: 8px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    padding: 38px 20px 73px;
    grid-area: description;
    
}

.btn-primary {
    padding: 16px 20px;
    background: #FF5A5F;
    border: 1px solid #FF5A5F;
    border-radius: 8px;
    font-family: 'Poppins';
    font-size: 16px;
    color: #FFFFFF;
    width: 121px;
    grid-area: button;
    transition: background-color 0.2s linear;
}

.btn-primary:hover {
    background: #fb8387;
}

.btn-primary:active {
    background: #FF5A5F;
}


.button-primary {
    padding-top: 16px;
    display: flex;
    justify-content: flex-end;
    max-width: 721px;
}


.form-input {
    display: flex;
    max-width: 721px;
}

.info-text {
    padding: 24px;
    max-width: 288px;

}

.text-button {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    gap: 16px;
}

.infocard {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    max-width: 576px;
    max-height: 212px;
    margin:0 0px 16px;
}

.infocard-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1176px;
}

@media screen and (max-width: 1450px) {
    .tourist-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .infocard-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .form-input {
        display: flex;
        flex-direction: column;
        
    }

    .btn-primary {
        justify-content: center;
        margin: 0 auto;
        width: 343px;
    }

    .input-title {
        width: 343px;
        height: 56px;
        margin-top: 16px;
    }

    .input-description {
        width: 343px;
        height: 136px;
    }

    .input-image-button {
        margin-left: 16px;
    }
}

@media screen and (max-width: 750px) {
    .infocard {
        flex-direction: column;
        max-width: 343px;
        max-height: 424px;
        margin: 0 0px 24px;
    }

    .img-desktop {
        display: none;
    }

    h3 {
        margin-bottom: 29px;
    }

    
}

@media screen and (min-width: 751px) {
    .img-mobile {
        display: none;
    }
    
}





