.attractions-result {
    max-width: 416px;
}

.attractions-item {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 8px 16px;
}

.attractions-result-head {
    background: #ff5a605b;
}

.attractions-items {
    list-style: none;
}

.attractions-item-title {
    width: 328px;
}

.attractions-item-description {
    width: 417px;
}


